@import "main.css";

.s-wrap {
    width:100vw;
    height:100vh;
    overflow:hidden !important;
    display:grid;
    color:white;
    justify-content: center;
    align-items: center;
    grid-template-areas: "head head" "graph nav" "graph ttxt" "foot foot";
    grid-template-rows: 1fr 1fr 6fr 1fr;
    background-color: var(--main-bg-color);
    grid-template-columns: 5fr 4fr;
    grid-gap:5vh;
}

.s-head {
    width:90%;
    height:90%;
    margin-top:5vh;
    margin-left:5%;
    grid-area:head;
    background-color: black;
    border-radius: 10px;
    font-size: 5vh !important;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-nav {
    width:95%;
    height:100%; 
    grid-area: nav;
    display:flex; 
    justify-content: center;
    align-items: center;
}

.s-nav-el {
    padding:10px;
    border-radius:5px;
    border: solid 1px white;
    margin-right:1vw;
}

.s-nav-el:hover {
    background-color: rgba(255,255,255,0.1);
}

.s-graph {
    width: auto;
    height:100%;
    display: flex;
    margin-left:5vh;
    justify-content: center;
    align-items: center;
    grid-area:graph;
    background-color: black;
    border-radius: 10px;

}

.s-graph-el {
    width:95%;
    height:95%;
}

.s-write {
    grid-area:ttxt;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
    border-radius:10px;
}

.s-par-on {
    background-color: rgba(255,255,255,0.2);
    border: solid 1px white;
}



